.main {
  border: 2px solid black;
  border-top: none;
  position: relative;
  display: inline-block;
}

.animation-leave {
  opacity: 1;
}

.animation-leave.animation-leave-active {
  opacity: 0.01;
  transition: opacity 400ms ease-out;
}
