// This is the top-level scss file. Import all other files in here.
@import 'reset';
@import 'home';

html, body, #react-root {
  height: 100%;
  width: 100%;
  background-image: url('/images/background.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%; 
}
.container {
  width: 600px;
  margin: auto;
  margin-top: 50px;
}

.moduleNextPiece {
  display: inline-block;
  width: 100px;
  height: 100px;
  position: absolute;
  margin: 20px;
}

.pauseMessage {
  border-radius: 5%;
  border: 1px solid gray;
  padding: 5px;
  font-size: 28px;
  position: absolute;
  left: 50%;
  bottom: 50%;
}